Modules/__pycache__/__init__.cpython-38.pyc
Modules/__pycache__/MLP.cpython-38.pyc
utils/__pycache__/config.cpython-38.pyc
utils/__pycache__/dataset.cpython-38.pyc
utils/__pycache__/EarlyStopping.cpython-38.pyc
utils/__pycache__/loss.cpython-38.pyc
utils/__pycache__/util.cpython-38.pyc
cleaned/dialog_ids_mini.pkl
cleaned/profile_ids_mini.pkl
cleaned/q_ids_mini.pkl
mc_bert_base/.DS_Store
mc_bert_base/bert_model.ckpt.data-00000-of-00001
mc_bert_base/bert_model.ckpt.index
mc_bert_base/bert_model.ckpt.meta
mc_bert_base/config.json
mc_bert_base/pytorch_model.bin
mc_bert_base/vocab.txt
dataset/dialogues.json
dataset/dr_profile.jsonl
dataset/embed.csv
dataset/test.csv
dataset/train.csv
dataset/valid.csv
dataset/embed_cleaned.csv
dataset/test_cleaned.csv
dataset/train_cleaned.csv
dataset/valid_cleaned.csv
saved_model/ckpt/model_4.pt
saved_model/ckpt/model_1.pt
saved_model/ckpt/model_2.pt
saved_model/ckpt/model_3.pt
saved_model/ckpt/model_5.pt
saved_model/ckpt/model_6.pt
saved_model/ckpt/model_7.pt
saved_model/ckpt/model_8.pt
saved_model/ckpt/model_9.pt
saved_model/ckpt/model_10.pt
saved_model/ckpt/model_5.pt
saved_model/ckpt/model_6.pt
saved_model/ckpt/model_7.pt
saved_model/ckpt/model_8.pt
saved_model/ckpt/model_9.pt
saved_model/ckpt/model_10.pt
wyuancs@cedar.computecanada.ca/q_ids_mini.pkl
wyuancs@cedar.computecanada.ca/profile_ids_mini.pkl
cleaned/dialog_embeds.pkl
cleaned/profile_embeds.pkl
cleaned/q_embeds.pkl
test.dat
saved_model/test_model_10.pt_score.txt
Modules/__pycache__/MLP_interaction.cpython-38.pyc
saved_model/test_5_model.pt_score.txt
saved_model/test_model_1.pt_score.txt
saved_model/ckpt/best_model.pt
saved_model/ckpt/model_11.pt
saved_model/ckpt/model_12.pt
saved_model/ckpt/model_13.pt
saved_model/ckpt/model_14.pt
saved_model/ckpt/model_15.pt
saved_model/ckpt/model_16.pt
saved_model/sorted_test_5_model.pt.dat
